@font-face {
  font-family: 'iconfont'
  src: url('../fonts/iconfont.eot?2qevqt')
  src: url('../fonts/iconfont.eot?2qevqt#iefix') format('embedded-opentype'),
    url('../fonts/iconfont.ttf?2qevqt') format('truetype'),
    url('../fonts/iconfont.woff?2qevqt') format('woff'),
    url('../fonts/iconfont.svg?2qevqt#music-icon') format('svg')
  font-weight: normal
  font-style: normal
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
}



.icon-good:before { content: "\e622"; }

.icon-py:before { content: "\e62c"; }

.icon-ask:before { content: "\e615"; }

.icon-top:before { content: "\e617"; }

.icon-home:before { content: "\e619"; }

.icon-share:before { content: "\e60f"; }

.icon-reading:before { content: "\e633"; }

.icon-job:before { content: "\e608"; }

.icon-topic:before { content: "\e62d"; }

.icon-user:before { content: "\e600"; }

.icon-zang:before { content: "\e643"; }

.icon-message:before { content: "\e611"; }

.icon-up:before { content: "\e626"; }
